---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuperTile - We're Awesome!</title>
    <meta property="og:title" content="Supertile" />
    <meta property="og:locale" content="en_US" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="{{ site.url }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="Supertile" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords | join: ', ' | escape }}"/>
</head>
<body>

<div id="mid">

    <div id="container">
        <div id="logo">
            <h1>SuperTile</h1>
            <h2><span>We're Awesome!</span></h2>
        </div>
        
        <div id="mainText">

            {{ page.content | markdownify }}

            <p><strong>floor &amp; wall | bathrooms | renovations | pools &amp; spas | waterproofing</strong></p>
        </div>
        
        <div id="qrCode"></div>
        
        <div id="contactBox">
            <p>Give us a call. Go on.<br />
            <span class="bold30">0411 195 825</span>
            </p> 
        
        	<p>Or maybe you'd prefer to email us?<br />
        	<span class="bold24"><a href="mailto:{{ site.email }}" href="_blank">{{ site.email }}</a></span>
        	</p>
        </div>

    </div>
   <div id="baseBar"></div> 
</div>
</body>
</html>